body{
	font-family: Verdana;
}
nav{
	background-color: #A9A9A9;
	text-align: center;
}
nav ul{
	text-align: center;
}
nav ul li{
	display: inline-block;
	list-style: none;

}
nav ul li a{
	text-decoration: none;
	color: white;
	background-color:#A9A9A9;
}
nav ul{
	padding: 0px;
	margin: 0px;
	list-style: none;
}

li{
	display: inline-block;
	margin: 7px -2px;
}
a{
	text-decoration: none;
	color: black;
	font-weight: bolder;
	padding: 5px 10px;
}
li:nth-last-of-type(1) a:hover{
	border-bottom: 3px solid #CB0000;
}
li:nth-last-of-type(2) a:hover{
	border-bottom: 3px solid #CB0000;
}
li:nth-last-of-type(3) a:hover{
	border-bottom: 3px solid #CB0000;
}
li:nth-last-of-type(4) a:hover{
	border-bottom: 3px solid #CB0000;
}
li:nth-last-of-type(5) a:hover{
	border-bottom: 3px solid #CB0000;
}
